.header,
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 20px;
  text-align: left;
}

.header > div,
.contact-container > div {
  max-width: 50%;
}

.header h2 {
  font-size: 7rem;
  line-height: 1em;
}

.header h3 {
  font-size: 4rem;
  color: var(--accent-color);
  line-height: 1em;
}

.header-copy p,
.contact-copy p {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.header-copy a {
  color: var(--link-color);
}

section {
  padding: 2rem 0;
  text-align: center;
}

section h2 {
  font-size: 2rem;
  text-align: inherit;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  gap: 20px;
}

.about-copy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  gap: 1rem;
  justify-items: center;
  align-items: start;
}

.about-header-container {
  position: relative;
}

.about-header-container h2 {
  font-size: 5rem;
}

.about-copy p {
  margin: 1rem 0;
  line-height: 1.5rem;
}

.about-image img {
  border-radius: 100%;
  width: 100%;
  max-width: 450px;
  box-shadow: var(--box-shadow);
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.skill span {
  background-color: var(--accent-color);
  border-radius: 50%;
  font-size: 3rem;
  padding: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.skills h2,
.skill h3 {
  margin: 1rem 0;
}

.work-header,
.post-header {
  text-align: center;
  font-size: 2.5rem;
  padding: 2.5rem 0;
}

@media only screen and (max-width: 600px) {
  .header,
  .contact-container,
  .card-row {
    flex-direction: column;
    margin: 2rem 0;
    gap: 20px;
  }
  .header > div,
  .contact-container > div {
    max-width: 100%;
  }
  .header h2 {
    font-size: 3.5rem;
  }
  .header h3 {
    font-size: 2rem;
  }
}
